{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <title>Registro</title>
</head>
<body>
    <div class="registration-wrapper">
        <div class="registration-card">
            <h1>Registro</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Registrarse</button>
            </form>
            <div class="login-link">
                <p>¿Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
            </div>
        </div>
    </div>
</body>
</html>
